extends ../layout

block body
    - var projectThumbs =  ''
    each project in projects
        - projectThumbs += '<div class="col-sm-6 col-md-4"><div class="thumbnail"><div class="caption"><h3>' + project.title + '</h3>'
        if (project.overview)
            - projectThumbs += project.overview + '</p><div class="project-snippet-fade"></div>'
        - projectThumbs += '<p><a href="projects/' + project.title_key + '" class="btn btn-primary" role="button">More Info</a></p></div></div></div>'

    div#main-container.container.comt
        div.row
            div.col-md-12
                h1= 'Coastal and Ocean Modeling Testbed'
        div.row
            div.col-md-12
                p= 'Coastal waters and lowlands of the U.S. are threatened by climate change, sea-level rise, flooding, oxygen depleted “dead zones”, oil spills and unforeseen disasters. With funding from the IOOS Program Office and coordination from the Southeastern Universities Research Association (SURA), strong and strategic collaborations among experts from academia, federal operational centers and industry were forged to create the U.S. IOOS Coastal and Ocean Modeling Testbed (COMT).'
                p= 'The COMT serves as a conduit between the federal operational and research communities and allows sharing of numerical models, observations and software tools. The COMT supports integration, comparison, scientific analyses and archiving of data and model output needed to elucidate, prioritize, and resolve federal and regional operational coastal ocean issues associated with a range of existing and emerging coastal oceanic, hydrologic, and ecological models. The Testbed has enabled significant community building (within the modeling community as well as enhancing academic and federal operational relations) which has dramatically improved model development.'
                p= 'Projects supported through the COMT are designed to create new knowledge, new model code and tools; develop operational user capacity; and build a repository of evaluation data sets to expand and improve the modeling capabilities of operational partners and the broader coastal and ocean modeling community.  Transition from research to operations is enhanced by scoping projects that meet identified operational needs, including both researchers and operational users on project teams, and leveraging transition resources such as NOAA’s Research Transition Acceleration Program (RTAP).'
        div.row
            div.col-md-6
                div.row
                    div.col-md-12
                        h2= 'Mission'
                        p= 'To use applied research and development to accelerate the transition of scientific and technical advances from the coastal ocean modeling research community to improved operational ocean products and services (i.e. via research to operations and also operations to research)'
                    div.col-md-12
                        h2= 'Vision'
                        p= 'To increase the accuracy, reliability, and scope of the federal suite of operational ocean modeling products to meet the needs of a diverse user community.  Operational use covers a wide range of society-critical applications including forecasts, forensic studies, risk assessment, and design and system management.'
            div.col-md-6
                a(href='//oceansmap.com/comt/', title='Launch COMT Viewer', target='_blank')
                    img(src='/images/comt/comt-screenshot.jpg', class='img-responsive')
        div.row
            div.col-md-12
                h2= 'Projects'
            | !{projectThumbs}